@model practice5.Models.table1

@{
    ViewBag.Title = "edit";
}

<h2>edit</h2>


@using (Html.BeginForm("UpdateData", "new1"))
{
    <label class="col-md-2">ID : </label>
    <div class="col-md-4">
        <input type="hidden" name="id" class="form-control" value="@(Model.id)" />
    </div>
    <label class="col-md-2">Name : </label>
    <div class="col-md-4">
        <input type="text" name="name" class="form-control" value="@(Model.name)" />
    </div>
    <label class="col-md-2">Address : </label>
    <div class="col-md-4">
        <input type="text" name="address" class="form-control" value="@(Model.address)" />
    </div>
    <label class="col-md-2">Contact : </label>
    <div class="col-md-4">
        <input type="text" name="contact" class="form-control" value="@(Model.contact)" />
    </div>

    <button class="submit_button">Submit</button>


}


