@{
    ViewBag.Title = "hewlo";
}

<h2>hewlo</h2>

<form action="SaveData">
    <label class="col-md-2">ID : </label>
    <div class="col-md-4">
        <input type="text" name="id" />
    </div>
    <label class="col-md-2">Name : </label>
    <div class="col-md-4">
        <input type="text" name="name" />
    </div>
    <label class="col-md-2">Address : </label>
    <div class="col-md-4">
        <input type="text" name="address" />
    </div>
    <label class="col-md-2">Contact : </label>
    <div class="col-md-4">
        <input type="text" name="contact" />
    </div>

    <button class="submit_button">Submit</button>
</form>